.breadcrumbs {
  display: inline-flex;
  background-color: #d9d9d9;
  padding: 0.25em 0.75em;
  border-radius:1em;
}

.breadcrumbs-list {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: inline-flex;
}

.crumb-label {
  /* neat css thing */
  text-transform: capitalize;
}

.separator {
  display: inline-flex;
  align-items: center;
  margin-left: 0.4rem;
}