header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .25em 0;
  margin: .5em;
  gap: 0.75rem;
}

header hr {
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid currentColor;
  opacity: 0.25;
}
